[Desktop Entry]
Version=1.0
Type=Application
Name=Discord & Roblox Bypass
GenericName=DPI Circumvention Utility
Comment=Linux DPI Circumvention & Connectivity Tool for Discord and Roblox
Name[tr]=Discord & Roblox Bypass
GenericName[tr]=DPI Aşma Aracı (Discord & Roblox)
Comment[tr]=Discord ve Roblox Linux DPI Engelleme ve Bağlantı Aracı
Icon=discord-bypass
Exec=discord-bypass-gui
Terminal=false
Categories=Network;
Keywords=Discord;Roblox;DPI;Bypass;Zapret;Network;Turkey;VPN;Proxy;Sober;Vinegar;
StartupNotify=false
